<div th:if="${isTeacherOrAdmin}" id="create" style="display: none" class="modal">
    <div class="modal-content">
        <div class="popupCloseButton">&times;</div>
        <form th:action="@{/course/create}" th:object="${course}" method="post">
            <section>
                <b>Danish Name:</b>
                <input type="text" th:field="${course.nameDanish}" />
                <div th:if="${#fields.hasErrors('nameDanish')}" class="error" th:errors="*{nameDanish}"></div>
                <br>
                <b>English Name:</b>
                <input type="text" th:field="${course.nameEnglish}" />
                <div th:if="${#fields.hasErrors('nameEnglish')}" class="error" th:errors="*{nameEnglish}"></div>
                <br>
                <b>Semester:</b>
                <input type="number" th:field="${course.semester}" />
                <div th:if="${#fields.hasErrors('semester')}" class="error" th:errors="*{semester}"></div>
                <br>
                <b>Study Programme:</b>
                <input type="text" th:field="${course.studyProgramme}" />
                <div th:if="${#fields.hasErrors('studyProgramme')}" class="error" th:errors="*{studyProgramme}"></div>
                <br>
                <b>Description:</b>
                <input type="text" th:field="${course.description}" />
                <div th:if="${#fields.hasErrors('description')}" class="error" th:errors="*{description}"></div>
                <br>
                <b>Mandatory:</b>
                <select th:field="${course.mandatory}">
                    <option th:value="true" th:text="true"/>
                    <option th:value="false" th:text="false"/>
                </select>
                <div th:if="${#fields.hasErrors('mandatory')}" class="error" th:errors="*{mandatory}"></div>
                <br>
                <b>ECTS:</b>
                <input type="number" th:field="${course.ECTS}" />
                <div th:if="${#fields.hasErrors('ECTS')}" class="error" th:errors="*{ECTS}"></div>
                <br>
                <b>Language:</b>
                <select th:field="${course.language}">
                    <option th:value="Danish" th:text="Danish"/>
                    <option th:value="English" th:text="English"/>
                </select>
                <br>
                <b>Minimum Students:</b>
                <input type="number" th:field="${course.localCourse.minimumStudents}" required/>
                <br>
                <b>Expected Students:</b>
                <input type="number" th:field="${course.localCourse.expectedStudents}" required/>
                <br>
                <b>Maximum Students:</b>
                <input type="number" th:field="${course.localCourse.maximumStudents}" required/>
                <br>
                <b>Prerequisites:</b>
                <input type="text" th:field="${course.localCourse.prerequisites}" required/>
                <br>
                <b>Learning Outcome:</b>
                <input type="text" th:field="${course.localCourse.learningOutcome}" required/>
                <br>
                <b>Content:</b>
                <input type="text" th:field="${course.localCourse.content}" required/>
                <br>
                <b>Learning Activities:</b>
                <input type="text" th:field="${course.localCourse.learningActivities}" required/>
                <br>
                <b>Exam form:</b>
                <input type="text" th:field="${course.localCourse.examForm}" required/>
                <br>
                <b>Number of teachers:</b>
                <input type="number" th:field="${course.numberOfTeachers}" required/>
                <div th:if="${#fields.hasErrors('numberOfTeachers')}" class="error" th:errors="*{numberOfTeachers}"></div>
                <br>
            </section>
            <br>
            <input type="submit" value="Submit" class="btn btn-create btn:hover"/>
            <br>
        </form>
    </div>
</div>