<div id="details" class="modal">
    <div class="modal-content">
        <div class="popupCloseButton">&times;</div>
        <div class="container1">
            <p><strong>Danish Name:</strong></p>
            <p id="danishName"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>English Name:</strong></p>
            <p id="englishName"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Description:</strong></p>
            <p id="description"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Semester:</strong></p>
            <p id="semester"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Study Programme:</strong></p>
            <p id="studyProgramme"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Mandatory:</strong></p>
            <p id="mandatory"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>ECTS Points:</strong></p>
            <p id="ects"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Language:</strong></p>
            <p id="language"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Minimum Students:</strong></p>
            <p id="minimum"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Expected Students:</strong></p>
            <p id="expected"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Maximum Students:</strong></p>
            <p id="maximum"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Number of Teachers:</strong></p>
            <p id="numberOfTeachers"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Prerequisites:</strong></p>
            <p id="prerequisites"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Learning Outcome:</strong></p>
            <p id="learningOutcome"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Content:</strong></p>
            <p id="content"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Learning Activites:</strong></p>
            <p id="learningActivities"></p>
        </div>
        <br>
        <div class="container1">
            <p><strong>Exam form:</strong></p>
            <p id="examForm"></p>
        </div>
        <br>
    </div>
</div>