<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Applications</title>
    <link href="/CSS/kartotek_style.css" rel="stylesheet">
</head>
<body>
    <th:block th:include="_navigation"></th:block>

    <div class="container">
        <header>
            <h1>Applications</h1>
        </header>

        <p></p>
        <table class="sortable" id="table">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Course Name Danish</th>
                <th>Course Name English</th>
                <th>Date Applied</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a: ${applications}">
                <td th:text="${a.student.name}"></td>
                <td th:text="${a.fullCourse.nameDanish}"></td>
                <td th:text="${a.fullCourse.nameEnglish}"></td>
                <td th:text="${a.timestamp}"></td>
                <td>
                    <a type="button" th:href="${'/application/accept?studentId=' + a.student.id + '&courseId=' + a.course.id}" class="btn btn-create btn:hover">Accept</a>
                    <a type="button" th:href="${'/application/decline?studentId=' + a.student.id + '&courseId=' + a.course.id}" class="btn btn-del btn:hover">Decline</a>
                </td>
            </tr>
            </tbody>
        </table>
        <footer>
            <th:block th:include="_footer"></th:block>
        </footer>
        <br>
        <br>
    </div>
</body>
</html>