<!DOCTYPE html>
<HTML>
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
    <link href="/CSS/kartotek_style.css" rel="stylesheet">
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <th:block th:include="_navigation"></th:block>

    <script>
        $(document).ready(function (){
            $(".popupCloseButton").click(function () {
                $("#studentsInCourseDiv").hide();
                $("#teachersInCourseDiv").hide();
                $("#availableTeachersDiv").hide();
            });
            $("#btnStudentsInCourse").click(function () {
                $("#studentsInCourseDiv").fadeIn("slow");
            });
            $("#btnTeachersInCourse").click(function () {
                $("#teachersInCourseDiv").fadeIn("slow");
            });
            $("#btnAvailableTeachers").click(function () {
                $("#availableTeachersDiv").fadeIn("slow");
            });
        });
    </script>

    <div data-role="popup" id="studentsInCourseDiv" class="modal">
        <div class="modal-content">
            <div class="popupCloseButton">&times;</div>
                <h1>Registered Students</h1>
                <table class="sortable" id="tableStudents">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Usertype</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student: ${studentsInCourse}">
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.user.username}"></td>
                        <td th:text="${student.user.userType.userType}"></td>

                        <td>
                            <a th:if="${isAdmin}" th:href="${'/course/removeStudent?courseId=' + course.id + '&studentId=' + student.id}" type="button" class="btn btn-del btn:hover">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table><br>
        </div>
    </div>

    <div data-role="popup" id="teachersInCourseDiv" class="modal">
        <div class="modal-content">
            <div class="popupCloseButton">&times;</div>
            <h1>Registered Teachers</h1>
            <p></p>
            <button th:if="${isAdmin}" id="btnAvailableTeachers" class="btn btn-create btn:hover">Add Teacher</button>

            <p></p>
            <table class="sortable" id="tableTeachers">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Usertype</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teacher: ${teachersInCourse}">
                    <td th:text="${teacher.name}"></td>
                    <td th:text="${teacher.user.username}"></td>
                    <td th:text="${teacher.user.userType.userType}"></td>
                    <td>
                        <a th:if="${isAdmin}" th:href="${'/course/removeTeacher?courseId=' + course.id + '&teacherId=' + teacher.id}" type="button" class="btn btn-del btn:hover">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table><br>
        </div>
    </div>

    <div th:if="${isAdmin}" data-role="popup" id="availableTeachersDiv" class="modal">
        <div class="modal-content">
            <div class="popupCloseButton">&times;</div>
            <h1>Available Teachers</h1>
            <p></p>
            <table class="sortable" id="availableTeachersTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Usertype</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teacher: ${availableTeachers}">
                    <td th:text="${teacher.name}"></td>
                    <td th:text="${teacher.user.username}"></td>
                    <td th:text="${teacher.user.userType.userType}"></td>
                    <td>
                        <a th:href="${'/course/addTeacher?courseId=' + course.id + '&teacherId=' + teacher.id}" type="button" class="btn btn-create btn:hover">Add</a>
                    </td>
                </tr>
                </tbody>
            </table><br>
        </div>
    </div>

    <div class="container">
        <header>
            <h1>Course Details</h1>
        </header>

        <section>
            <div>
                <a type="button" href="/course" class="btn btn-del btn:hover">Return</a>
                <a th:if="${isTeacherOrAdmin}"type="button" th:href="${'/course/edit?courseId=' + course.id}" class="btn btn-ed btn:hover">Edit</a>
                <button id="btnStudentsInCourse" class="btn btn-ed btn:hover">Students</button>
                <button id="btnTeachersInCourse" class="btn btn-ed btn:hover">Teachers</button>
            </div>
            <br>
            <div class="container1">
                <p><strong>Danish Name:</strong></p>
                <p th:text="${course.nameDanish}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>English Name:</strong></p>
                <p th:text="${course.nameEnglish}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Semester:</strong></p>
                <p th:text="${course.semester}"></p>
            </div>
            <br>
                <div class="container1">
                      <p><strong>Description:</strong></p>
                      <p th:text="${course.description}"></p>
                </div>
            <br>
            <div class="container1">
                <p><strong>Study Programme:</strong></p>
                <p th:text="${course.studyProgramme}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Mandatory:</strong></p>
                <p th:text="${course.mandatory}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>ECTS Points:</strong></p>
                <p th:text="${course.ECTS}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Language:</strong></p>
                <p th:text="${course.language}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Minimum Students:</strong></p>
                <p th:text="${course.localCourse.minimumStudents}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Expected Students:</strong></p>
                <p th:text="${course.localCourse.expectedStudents}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Maximum Students:</strong></p>
                <p th:text="${course.localCourse.maximumStudents}"></p>
            </div>
            <br>
            <div class="container1">
                 <p><strong>Number of Teachers:</strong></p>
                 <p th:text="${course.numberOfTeachers}"></p>
            </div>
            <br>
            <div class="container1">
                <p><strong>Prerequisites:</strong></p>
                <p th:text="${course.localCourse.prerequisites}"></p>
            </div>
            <br>
            <div class="container1">
                 <p><strong>Learning Outcome:</strong></p>
                 <p th:text="${course.localCourse.learningOutcome}"></p>
            </div>
            <br>
            <div class="container1">
                 <p><strong>Content:</strong></p>
                 <p th:text="${course.localCourse.content}"></p>
            </div>
            <br>
            <div class="container1">
                  <p><strong>Learning Activites:</strong></p>
                  <p th:text="${course.localCourse.learningActivities}"></p>
            </div>
            <br>
            <div class="container1">
                  <p><strong>Exam form:</strong></p>
                  <p th:text="${course.localCourse.examForm}"></p>
            </div>
            <br>
        </section>
        <footer style="text-align: left">
            <th:block th:include="_footer"></th:block>
        </footer>
        <br>
        <br>
    </div>
</body>
</html>