<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link href="/CSS/kartotek_style.css" rel="stylesheet">
</head>
<body>
<th:block th:include="_navigation"></th:block>

<div class="container">
    <header>
        <h1>Edit Course</h1>
    </header>

    <a type="button" th:href="${'/course/details?id=' + course.id}" class="btn btn-del btn:hover">Return</a>

    <form th:action="@{/course/edit}" th:object="${course}" method="Post">
        <section>
            <input type="hidden" th:field="${course.localCourse.id}">
            <input type="hidden" th:field="${course.id}">
            <h2>Course details</h2>
            <b>Name Danish</b>
            <input type="text" th:field="${course.nameDanish}" value="${course.nameDanish}" />
            <div th:if="${#fields.hasErrors('nameDanish')}" class="error" th:errors="*{nameDanish}"></div>
            <br>
            <b>Name English</b>
            <input type="text" th:field="${course.nameEnglish}" value="${course.nameEnglish}" />
            <div th:if="${#fields.hasErrors('nameEnglish')}" class="error" th:errors="*{nameDanish}"></div>
            <br>
            <b>Semester</b>
            <input type="number" th:field="${course.semester}" value="${course.semester}" />
            <div th:if="${#fields.hasErrors('semester')}" class="error" th:errors="*{semester}"></div>
            <br>
            <b>Study Programme</b>
            <input type="text" th:field="${course.studyProgramme}" value="${course.studyProgramme}" />
            <div th:if="${#fields.hasErrors('studyProgramme')}" class="error" th:errors="*{studyProgramme}"></div>
            <br>
            <b>Description</b>
            <input type="text" th:field="${course.description}" value="${course.description}" />
            <div th:if="${#fields.hasErrors('description')}" class="error" th:errors="*{description}"></div>
            <br>
            <b>Mandatory</b>
            <select th:field="${course.mandatory}" value="${course.mandatory}">
                <option th:value="true" th:text="true"/>
                <option th:value="false" th:text="false"/>
            </select>
            <div th:if="${#fields.hasErrors('mandatory')}" class="error" th:errors="*{mandatory}"></div>
            <br>
            <b>ECTS</b>
            <input type="number" th:field="${course.ECTS}" value="${course.ECTS}" />
            <div th:if="${#fields.hasErrors('ECTS')}" class="error" th:errors="*{ECTS}"></div>
            <br>

            <b>Number of Teachers</b>
            <input type="number" th:field="${course.numberOfTeachers}" value="${course.numberOfTeachers}" />
            <div th:if="${#fields.hasErrors('numberOfTeachers')}" class="error" th:errors="*{numberOfTeachers}"></div>
            <br>
            <b>Language</b>
            <select th:field="${course.language}" value="${course.language}">
                <option th:value="Danish" th:text="Danish"/>
                <option th:value="English" th:text="English"/>
            </select>
            <div th:if="${#fields.hasErrors('language')}" class="error" th:errors="*{language}"></div>
            <br>
            <b>Studets Minimum</b>
            <input type="number" th:field="${course.localCourse.minimumStudents}" value="${course.localCourse.minimumStudents}" required/>
            <br>
            <b>Students Expected</b>
            <input type="number" th:field="${course.localCourse.expectedStudents}" value="${course.localCourse.expectedStudents}" required/>
            <br>
            <b>Students Maximum</b>
            <input type="number" th:field="${course.localCourse.maximumStudents}" value="${course.localCourse.maximumStudents}" required/>
            <br>
            <b>Prerequisites</b>
            <input type="text" th:field="${course.localCourse.prerequisites}" value="${course.localCourse.prerequisites}" required/>
            <br>
            <b>Learning Outcome</b>
            <input type="text" th:field="${course.localCourse.learningOutcome}" value="${course.localCourse.learningOutcome}" required/>
            <br>
            <b>Content</b>
            <input type="text" th:field="${course.localCourse.content}" value="${course.localCourse.content}" required/>
            <br>
            <b>Learning Activites</b>
            <input type="text" th:field="${course.localCourse.learningActivities}" value="${course.localCourse.learningActivities}" required/>
            <br>
            <b>Exam form</b>
            <input type="text" th:field="${course.localCourse.examForm}" value="${course.localCourse.examForm}" required/>
            <br>
        </section>
        <br>
        <a th:href="${'/course/details?id=' + course.id}" type="button" class="btn btn-del btn:hover">Cancel</a>
        <input type="submit" value="Submit" class="btn btn-create btn:hover"/>
    </form>
    <footer style="text-align: left">
        <th:block th:include="_footer"></th:block>
    </footer>
    <br>
    <br>
</div>
</body>
</html>