<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/CSS/kartotek_style.css" rel="stylesheet">
</head>
<body>
<th:block th:include="_navigation"></th:block>

<div class="container">
    <header class="header1">
        <h1>Error</h1>
        <br>
        <p>Something went wrong, please contact the administrator<br>
    </header>
</div>
<img src="/Image/kea lygten.jpg" alt="billede af KEA" class="main-image">
<footer style="text-align: center">
    <th:block th:include="_footer"></th:block>
</footer>
</body>
</html>