<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>KEA - Home</title>
    <link href="/CSS/kartotek_style.css" rel="stylesheet">
</head>
<body>
    <th:block th:include="_navigation"></th:block>

    <div class="container">
        <header class="header1">
            <h1>Home</h1>
            <br>
            <p>Welcome to KEA's digital school system<br>
               Choose an action above</p>
        </header>
    </div>
    <img src="/Image/kea lygten.jpg" alt="billede af KEA" class="main-image">
    <footer style="text-align: center">
        <th:block th:include="_footer"></th:block>
    </footer>
</body>
</html>